*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{

}
.header-logo{
	max-width: 5rem;
}

.search-input{
	border: none;
	outline: none;
	color: #000;
	padding: 0 1rem;
	font-size: 1rem;
	background: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  	transition: background-color 5000s ease-in-out 0s;
}
.search-btn{
	background: #FF385C;
	padding: 0.5rem;
	border-radius: 50%;
	color: #ffffff;
}
.searchbar{
	border: 1px solid #DDDDDD;
	border-radius: 30px;
	display: inline-flex;
	max-width: 100%;
	padding: 0.2rem;
	color: #000;
}