@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	background: #fff;
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

@media (max-width: 768px){
	.menu, .halfnav{
		display: none;
	}
}

.search-input{
	border: none;
	outline: none;
	color: #000;
	padding: 0 1rem;
	font-size: 1rem;
	background: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  	transition: background-color 5000s ease-in-out 0s;
}
.search-btn{
	background: #FF385C;
	padding: 0.5rem;
	border-radius: 50%;
	color: #ffffff;
}
.hsb{
	border: 1px solid #DDDDDD;
	border-radius: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 5px #c3bfbf;
	max-width: 100%;
	margin: 2rem 0;
	padding: 0.2rem;
	color: #000;
	transition: all 0.2s ease-in-out;
}