@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #000;
}
body{
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	margin: 0 auto;
}
.menu{
	display: inline-flex;
	align-items: center;
}
.menu ul{
	display: inline-flex;
	margin-left: 3rem;
}
.menu ul li{
	list-style: none;
	margin-left: 2rem;
}
.menu ul li a{
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.1s ease-in-out;
}
.menu ul li a:hover{
	color: #FF385C;
}

.header-logo{
	max-width: 5rem;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search-input{
	border: none;
	outline: none;
	color: #000;
	padding: 0 1rem;
	width: 18rem;
	font-size: 1rem;
	background: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  	transition: background-color 5000s ease-in-out 0s;
}
.search-btn{
	background: #FF385C;
	padding: 0.5rem;
	border-radius: 50%;
	color: #ffffff;
}
.searchbar{
	border: 1px solid #DDDDDD;
	border-radius: 30px;
	display: inline-flex;
	max-width: 100%;
	padding: 0.2rem;
	color: #000;
}
.hsb{
	display: none;
}
.halfnav{
	display: inline-flex;
	align-items: center;
}
.host-btn{
	color: #ffffff;
	background: #c1c8d7;
	text-decoration: none;
	padding: 0.5rem 0.8rem;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
	margin-right: 4rem;
}
.host-btn:hover{
	background: #FF385C;
	box-shadow: 0px 5px 10px #FF385C;
}
.user{
	border: 1px solid #DDDDDD;
	display: inline-flex;
	align-items: center;
	padding: 0.4rem;
	border-radius: 25px;
	cursor: pointer;
}
.hammenu{
	margin: 0 0.8rem 0 0.5rem;
	font-size: 1.2rem;
	color: #717171;
}
.userinfo{
	color: #717171;
	font-size: 1.8rem;
}
.user:hover{
	box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
}

.hero{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero-img img{
	height: 100%;
	width: 100%;
}
.hero-text h1{
	max-width: 16ch;
	font-weight: 500;
	margin-bottom: 3rem;
}
.filters{
	margin-top: 3rem;
}
.property{
	color: #ffffff;
	text-decoration: none;
	padding: 0.4rem 0.8rem;
	border-radius: 5px;
	margin-right: 0.2rem;
	transition: all 0.2s ease-in-out;
	background: #c1c8d7;
}
.property:hover{
	background: #FF385C;
	color: #ffffff;
}
.active{
	background: #FF385C;
	color: #ffffff;
}
.nearby{
	margin: 5rem 5rem;
}
.nearby h1{
	font-weight: 600;
	margin-bottom: 2rem;
}
.places img{
	height: 5rem;
	width: 5rem;
	border-radius: 5px;
	object-fit: cover;
	margin-right: 1rem;
}
.places h3{
	font-weight: 500;
	color: #000;
	text-decoration: none;
}
.places{
	display: inline-flex;
	align-items: center;
}
.places-nearby{
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(4, 1fr);
}
.recommended{
	margin: 5rem 5rem;
}
.hostel-name{
	font-weight: 600;
}
.hostels{
	padding: 0.5rem 0.5rem;
	width: fit-content;
	border-radius: 20px;
	box-shadow: 0 6px 10px #ddd;
	transition: all 0.2s ease-in-out;
}
.hostels:hover{
	box-shadow: none;
}
.hostel-images img{
	border-radius: 10px;
	width: 20rem;
	height: 15rem;
}
.hostel-info{
	padding: 1rem 1rem;
}
.pricenstar{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.recommended-hostel{
	margin: 2rem 0; 
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(3, 1fr);
}
.host{
	margin: 5rem 5rem;
	background: url("assets/room.png");
	border-radius: 25px;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10rem 5rem;
	color: #fff;
	position: relative;
}
.overlay{
	background-image: linear-gradient(to right, #000, transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	border-radius: 20px;	
	display: flex;
	align-items: center;
	padding: 0 5rem;
}
.btn{
	background: #fff;
	color: #000;
}
.btn:hover{
	color: #fff
}
.host-info p{
	margin-bottom: 2rem;
}


@media(min-width: 768px){
	.navbar{
		margin: 1.2rem 5rem;
	}
	.hero{
		margin-left: 5rem; 
	}
	.hero-img img{
		width: 40rem;
	}
	.hero-text h1{
		max-width: 16ch;
	}

}