.hostel-review {
  h1 {
    font-weight: 500;
    font-size: 1.5rem;
  }
}

.review {
  margin: 2rem 0;
}

.user-profile {
  display: flex;
  gap: 1rem;
}

.user-name {
  font-weight: 500;
  display: flex;
  align-self: center;
}

.comment {
  max-width: 50ch;
  margin-top: 0.8rem;
}

.comment-profile-img {
  width: 4rem;
  height: 4rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.comment-profile-text {
  background: rgba(54, 51, 51, 0.867);
  color: #fff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  h3 {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 500;
  }
  pointer-events: none;
}

.submit-review {
  margin: 1rem 0;
  .input-field {
    margin-bottom: 0;
    max-width: 40rem;
    textarea {
      border: none;
      outline: none;
      height: 5rem;
      padding: 0.5rem 0.5rem 0.5rem 0;
      resize: none;
      border-bottom: 2px solid #c4c2c2;
      font-size: 1.1rem;
      font-family: Jost;
      width: 100%;
    }
  }
  button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .all-reviews {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
