.hero {
  margin-top: 5rem;
  background: #89ceb8;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  .hero-text {
    padding: 5rem 1rem 20rem;
  }
  .hero-text h1 {
    padding-bottom: 2rem;
    line-height: 2rem;
    max-width: 12ch;
    color: #fff;
  }
  .hero-input {
    background: #fff;
  }
  .hero-image img {
    max-width: 32rem;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (min-width: 768px) {
  .hero {
    background: url("../assets/herobg.jpg");
    background-position: bottom;
    margin: 5rem 1rem 0rem;
    .hero-text {
      padding: 5rem 1rem 10rem;
    }
    .hero-image img {
      right: -5rem;
      transform: unset;
      left: unset;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    margin: 6rem 4rem 0;
    border-radius: 15px;
    .hero-text {
      padding: 5rem 4rem 10rem;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    margin: 6rem 6rem 0;
    border-radius: 20px;
    .hero-text {
      padding: 6rem 6rem 10rem;
    }
    .hero-image img {
      right: 4rem;
    }
  }
}
