.host-location {
  margin-top: 5rem;
  position: relative;
}

.mapBox {
  height: 600px;
  width: 100%;
}

.host-location-form {
  position: absolute;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@media (min-width: 768px) {
  .host-location-form {
    right: 1rem;
    transform: translateY(-50%);
  }
}

@media (min-width: 1024px) {
  .host-location-form {
    right: 4rem;
  }
}

@media (min-width: 1200px) {
  .host-location-form {
    right: 6rem;
  }
}
