.hostel-name {
  font-size: 1.5rem;
  font-weight: 400;
}

.icons {
  padding-right: 5px;
}

.mini-details {
  font-size: 1.1rem;
  font-weight: 400;
}

.rate-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  display: inline-flex;
  align-items: center;
  .fa-star {
    color: #ff385c;
  }
}

.stars {
  padding: 0 4px;
}

.price h4 {
  font-weight: 500;
}

.hostel-card {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 0.5rem;
  transition: 0.2s all ease-in-out;
  &:hover {
    box-shadow: 0 4px 10px #dddddd;
    border-radius: 20px;
  }
}

.hostel-pic {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.hostel-info {
  padding: 1rem;
}
