.profile {
  margin: 5.5rem;
  display: flex;
  justify-content: center;
}

.profile-text {
  background: rgba(54, 51, 51, 0.867);
  color: #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  h3 {
    margin: auto;
    font-size: 4rem;
    font-weight: 200;
  }
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: 0.5rem;
  }
}

.box {
  border: 2px solid #dddd;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .profile-box {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .box {
    width: 700px;
  }
}
