.profile-pic-update {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  z-index: 12;
}

.profile-update-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 11;
}

.update-pic {
  p {
    margin-bottom: 1rem;
    max-width: 45ch;
  }
}

.profile-img {
  width: 120px;
  height: 120px;
  img {
    width: 100%;
  }
}

.upload-file {
  cursor: pointer;
  border: 1px solid rgba(54, 51, 51, 0.867);
  padding: 0.4rem 1rem;
  font-weight: 500;
  border-radius: 5px;
  input[type="file"] {
    display: none;
  }
}

.profile-btns {
  margin-top: 1.5rem;
  button {
    outline: none;
    border: none;
    font-size: 1rem;
    border: 1px solid rgba(54, 51, 51, 0.867);
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    margin-right: 0.5rem;
  }
  .submit-btn {
    background-color: rgba(115, 219, 115, 0.863);
  }
  .cancel-btn {
    background-color: rgba(235, 78, 78, 0.863);
  }
}
@media (min-width: 768px) {
  .profile-pic-update {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    align-items: center;
  }
}
