.btn-text1 {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #ff385c;
  }
}

.btn-text2 {
  text-decoration: none;
  color: #7f7f7f;
  &:hover {
    color: #ff385c;
  }
}

.btn-color {
  padding: 0.6rem 1.5rem;
  color: #fff;
  text-decoration: none;
  background: #fa395c;
  border-radius: 10px;
  transition: 0.2s;
  display: inline-block;
  cursor: pointer;
  border: none;
  &:hover {
    background: #e72a4d;
  }
}

.btn-white {
  display: inline-block;
  padding: 0.6rem 1rem;
  color: #000;
  text-decoration: none;
  background: #fff;
  border-radius: 10px;
}

.btn-black {
  display: inline-block;
  padding: 0.6rem 1rem;
  color: #fff;
  text-decoration: none;
  background: #000;
  border-radius: 10px;
}
