.recommended-places {
  margin: 5rem 1rem;
  h1 {
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
  }
}

.hostels-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 3rem;
}

@media (min-width: 768px) {
  .hostels-grid {
    grid-template-columns: repeat(2, 45%);
  }
}

@media (min-width: 1024px) {
  .recommended-places {
    margin: 3rem 4rem;
  }

  .hostels-grid {
    grid-template-columns: repeat(3, 30%);
  }
}

@media (min-width: 1200px) {
  .recommended-places {
    margin: 3rem 6rem;
  }
}
