.header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  .menu .logo {
    max-width: 2.5rem;
    max-height: 3rem;
  }
}

.right-nav {
  display: none;
}

@media (min-width: 767px) {
  .navbar {
    margin: 0.5rem 2rem;
  }
  .right-nav {
    display: inline-flex !important;
    align-items: center;
    .center-nav {
      display: none;
    }
  }
  .hostbtn-header {
    margin-right: 1rem;
    border: 1px solid #dddddd;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    transition: 0.2s all ease-in-out;
    &:hover {
      box-shadow: 0 4px 10px #dddddd;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }
}

@media (min-width: 1024px) {
  .navbar {
    margin: 1rem 4rem;
    .center-nav {
      margin-right: 2rem;
      display: unset !important;
      ul {
        display: inline-flex !important;
        li {
          list-style: none;
          margin-right: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    margin: 1rem 6rem;
  }
}
