.host-section {
  display: grid;
  grid-template-columns: repeat(1, auto);
  margin: 5rem 1rem;
  border-radius: 20px;
  background: url(../assets/host-hostel.jpg);
  overflow: hidden;
  height: 400px;
  background-size: cover;
  background-position: bottom;
}

.hostel-info {
  padding: 1rem;
}

.host-text {
  background: #222422;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 0;
  height: fit-content;
  h1 {
    font-weight: 500;
    font-size: 1.8rem;
  }
  p {
    padding: 0.5rem 0 1.5rem;
    max-width: 30ch;
  }
}

.host-img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media (min-width: 768px) {
  .host-section {
    display: block;
    grid-template-columns: unset;
    position: relative;
  }

  .host-text {
    color: #fff;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    height: 100%;
    transform: translateY(-50%);
    top: 50%;
  }

  .htext {
    margin: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .host-section {
    margin: 4rem 4rem;
  }
}

@media (min-width: 1200px) {
  .host-section {
    margin: 4rem 6rem;
  }
}
