.host-location {
  margin-top: 5rem;
  position: relative;
}

.mapBox {
  height: 600px;
  // width: 100%;
  .click-info {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    h1 {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.SuperAwesomePin {
  width: 250px;
  height: 250px;
  background-color: aqua;
}

.host-location-form {
  position: absolute;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@media (min-width: 768px) {
  .host-location-form {
    right: 1rem;
    transform: translateY(-50%);
  }
}

@media (min-width: 1024px) {
  .host-location-form {
    right: 4rem;
  }
}

@media (min-width: 1200px) {
  .host-location-form {
    right: 6rem;
  }
}
